.author-name {
    text-align: center;/* <h1 class="author-name">Kyle Cook</h1> */
}

/* <section class="green-section"> - Taust roheliseks ja texti värv valgeks */
.green-section {
    background-color: green;
    color: white;
}

/* Favourite languages ja Hobbies texti stiili muutmine */
.section-title {
    font-family: Arial, Helvetica, sans-serif;
}

/* Weight Lifting cyaniks */
.cyan {
    color: cyan;
}

/* Katy Perryle kriips */
.cross-off {
    text-decoration-line: line-through;
}


